*.o
*.obj
*.exe
src/*.o
src/util/*.o
bin/circle
bin/autowiz
lib/etc/players
lib/etc/plrobjs
lib/etc/shopgold
lib/etc/time
lib/etc/ideas
lib/etc/typos
lib/etc/messages
lib/etc/bugs
lib/etc/gods
lib/etc/xnames
syslog
syslog.*
